.best-decision-container {
  text-align: center;
  padding: 0 9.4rem;
  margin: 0 auto 14.6rem;
  .best-decision-text {
    margin-top: 2.8rem;
    margin-bottom: 7.8rem;
  }
  .steps-container {
    display: grid;
    .steps-left {
      display: grid;
      justify-items: end;
      grid-template-rows: auto;
      gap: 20px;
    }
    .steps-right {
      display: grid;
      grid-template-rows: auto;
      gap: 20px;
    }
  }
}