.hero-download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black-color;
  color: $white-color;
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
  .download-btn-img {
    width: 3.1rem;
    height: 3.8rem;
  }
  .download-btn-text {
    padding-left: 8px;
    font-family: "DM Sans";
    line-height: 1;
    .download-btn-subtext {
      font-weight: 500;
      font-size: 2.5rem;
    }
  }
}



