.get-started-text {
  color: $button-color;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  span {
    display: inline-block;
    margin-left: 10px;
    border: 2px solid $button-color;
    border-radius: 50%;
    margin-top: 10px;
    width: 2.5rem;
    height: 2.5rem;
  }
}

