.integrated-tools-section {
  margin-top: 13rem;
  margin-bottom: 18.7rem;
  .tools-img {
    width: 12rem;
    height: 12rem;
  }
  .tools-heading {
    margin-top: 10.5rem;
    margin-bottom: 2.6rem;
  }
  .tools-text {
    margin-bottom: 3.9rem;
  }
}