.section-market-places {
  .market-place-container {
    max-width: 120rem;
    padding: 0 9.4rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
    margin-bottom: 14rem;
    .market-place-img {
      width: 28rem;
      height: 61rem;
    }
    .market-place-btn-container {
      margin-top: 4.5rem;
      margin-bottom: 6.1rem;
    }
  }
}
