$text-color: #0d152e;
$text-secondary: #81838c;
$text-tertiary: #182748;
$text-footer: #101c3d;
$white-color: #fff;
$black-color: #000;
$green-color: #2bd67b;
$button-color: #416ff4;
$border-color: #e5e5e5;
$blog-color: #f7f9fb;
$card-border: #eaeced;
$pagination-border: #eaeced;
$faq-background: #f8fafc;
